body{
  width:100%;
  height:100vh;
  margin:0;
  background-color:#1b1b45;
  color:white;
  font-size:16px;
  font-family:tahoma;
}
h1,p{text-align:center;
margin:1em auto}
form {
  width: 80vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
label {
  display: block;
  margin: 0.5rem 0;
}
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3bd54f;
  border-color: white;
  min-width: 300px;
}
input[type="text"],input[type="email"],input[type="number"],
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}
footer{text-align:center;
font-size:10px;
}